.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card_class {
    box-shadow: none;
}

.header_class {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}